<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Buscador de Cuenta Catastral</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
 <header>
  <img src="/static/logo.png" alt="Logo del Municipio" style="height:350px;">
  <h1>Consulta Estado de Cuenta Catastral</h1>
</header>

  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
  <p>
    &copy; 2025 Municipio de San de Jose Iturbide 
    <a href="sji.gob.mx" target="_blank">Visita nuestra página oficial</a>
  </p>
</footer>

</body>
</html>
