<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>MEMBRESIA DE PROTECCION FUNERARIA PARA CONTRIBUYENTES CUMPLIDOS</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <header>
  <h1>
    <i class="fas fa-award"></i> MEMBRESIA DE PROTECCION FUNERARIA PARA CONTRIBUYENTES CUMPLIDOS
  </h1>
</header>


  <!-- CONTENIDO PRINCIPAL -->
  {% block content %}{% endblock %}

<!-- FOOTER --> 
<!-- FOOTER -->
<footer>
  <div class="footer-container">
    <!-- Logo a la izquierda -->
    <div class="footer-logo">
      <img src="/static/logo.png" alt="Logo del Municipio">
    </div>

    <!-- Info centrada -->
    <div class="footer-info">
      <p><i class="fas fa-phone"></i> Tel: +52 (419-133-21-19)</p>
      <p><i class="fas fa-map-marker-alt"></i> Pl. Principal 1, Zona Centro, 37980 San José Iturbide, Gto.</p>
      <p><i class="fas fa-envelope"></i> 
        <a href="mailto:presidenciamunicipal@sji.gob.mx">presidenciamunicipal@sji.gob.mx</a>
      </p>
      <p><a href="https://sji.gob.mx" target="_blank">Visita nuestra página oficial</a></p>
      <p>&copy; 2025 Municipio de San José Iturbide</p>
    </div>
  </div>
</footer>



</body>
</html>

